{% extends 'base.html' %}
{% block header %}
  <h1 class="d-flex justify-content-start mx-2">{% block title %}Sales Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="row">
        <div class="col mb-2">

        <form action="{{ url_for('auth.admin_sale') }}" method="POST">
          <label class="form-label" for="shop">Shop Wise Sale</label>
          <select class="form-select"  name="shop" id="shop" aria-label="Default select example">
            
            {% for shop in shops %}
                <option value="{{shop.id}}" >{{shop.store_name}}</option>
            {% endfor %}
          </select>
          <input type="submit" class="btn btn-secondary btn-sm my-2" value="get result">
        </form>
          </div>

          <div class="col mb-2">
          
            <form action="{{ url_for('auth.admin_sale') }}" method="POST">
              <label class="form-label" for="category">Category Wise Sale</label>
              <select class="form-select"  name="category" id="category" aria-label="Default select example">
                
                {% for cat in category %}
                <option value="{{cat.id}}" >{{cat.category_name}}</option>
            {% endfor %}
              </select>
              <input type="submit" class="btn btn-secondary btn-sm my-2" value="get result">
            </form>
              </div>

              <div class="col mb-2">
          
                <form action="{{ url_for('auth.admin_sale') }}" method="POST">
                  <label class="form-label" for="brand">Brand Wise Sale</label>
                  <select class="form-select"  name="brand" id="brand" aria-label="Default select example">
                    
                    {% for bn in brand %}
                      <option value="{{bn.brand}}" >{{bn.brand}}</option>
                  {% endfor %}
                  </select>
                  <input type="submit" class="btn btn-secondary btn-sm my-2" value="get result">
                </form>
                  </div>

    </div>
    <div class="row">
      
        <label class="col form-label">Wise : <span>{{wise}}</span></label>
        {% if data.category_name %}
        <label class="col form-label">Items: <span>{{data.category_name}}</span></label>
        {% elif data.store_name %}
        <label class="col form-label">Items: <span>{{data.store_name}}</span></label>
        {% else %}
        <label class="col form-label">Items: <span>{{data}}</span></label>
        {% endif %}
      <label class="col form-label">Sold : <span id="sold">{{total_sold}}</span></label>
        <label class="col form-label">In Stock :<span id="stock">{{total_qnt}}</span></label>

      
     
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
          <canvas id="myChart"></canvas>
      </div>
      
         
        
  </div>
    
  </div>
</div>





<script>
  const stock = document.getElementById('stock').innerHTML;
  const sold = document.getElementById('sold').innerHTML;
  console.log(typeof(sold));
  
  console.log(parseInt(stock));
  const data = {
labels: [
  'Sold',
  'In stock',
],

datasets: [{
  label: 'My First Dataset',
  data: [sold, stock],
  backgroundColor: [
    'rgb(255, 99, 132)',
    'rgb(255, 205, 86)'
  ],
  hoverOffset: 0,
  radius:'50%',
  clientHeight: 36,
  height: 103,
  offsetHeight: 36,
  borderRadius:0,
  spacing:1
}]
};

  const config = {
type: 'doughnut',
data: data,
options: {  
  responsive: true,
  maintainAspectRatio: false
}
};
</script>

<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
{% endblock %}
