{% extends 'base.html' %}
{% block header %}
  <h1 class="d-flex justify-content-start mx-4">{% block title %}Sales{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row mx-auto">

    <div class="row">
        <div class="col mb-3">
        <form action="{{ url_for('auth.shop_sale') }}" method="POST">
          <label class="form-label" for="gender">Category Wise Sale</label>
          <select class="form-select"  name="data" id="data" aria-label="Default select example">
            
            {% for cat in category %}
                <option value="{{cat.id}}" >{{cat.category_name}}</option>
            {% endfor %}
          </select>
          <input type="submit" class="btn btn-secondary my-2" value="get sale record">
        </form>
          </div>
          <div class="col mb-3">
            <form action="{{ url_for('auth.shop_sale') }}" method="POST">
                <label class="form-label" for="gender">Category Wise Sale</label>
                <select class="form-select"  name="data" id="data" aria-label="Default select example">
                  
                  {% for bn in brand %}
                      <option value="{{bn.brand}}" >{{bn.brand}}</option>
                  {% endfor %}
                </select>
                <input type="submit" class="btn btn-secondary my-2" value="get sale record">

              </form>
            </div>
            
    </div>

    <div class="row">
        <div class="col mb-3">
        
          <label class="form-label">Sold : <span id="sold">{{total_sold}}</span></label>
         
          </div>
          <div class="col mb-3">
            <label class="form-label">In Stock :<span id="stock">{{total_qnt}}</span></label>
            
            </div>
            <div>
                <canvas id="myChart"></canvas>
              </div>
    </div>


  





  <!-- % endfor % -->
 
</div>
</div>

<script>
    const stock = document.getElementById('stock').innerHTML;
    const sold = document.getElementById('sold').innerHTML;
    console.log(typeof(sold));
    
    console.log(parseInt(stock));
    const data = {
  labels: [
    'Sold',
    'In stock',
  ],
  
  datasets: [{
    label: 'My First Dataset',
    data: [sold, stock],
    backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 205, 86)'
    ],
    hoverOffset: 1,
    radius:'50%',
    clientHeight: 6,
    height: 103,
    offsetHeight: 6,
    borderRadius:0
  }]
};
  
    const config = {
  type: 'doughnut',
  data: data,
};
  </script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
{% endblock %}
